.toolbar
{
    line-height: 0.1;
    font-size: 14px; 
    background-color: black; 
    color: white;
}
.toolbar a
{
    color: white;
    text-decoration: underline;
    
}

.toolbar a:hover
{
    text-decoration: none;
}

/* _______________________menubar________________________ */

.menubar1
{
    color: black;
    background-color: whitesmoke;
}
.menubar1:hover
{
    background-color: white;
}

.menubar1 img
{
    width: 120px;
    height: 40px;
}

@media (max-width: 720px)
{
    .menubar1 #btn
    {
          display: none;
    }
}
.menubar1 a
{
    text-decoration: none;
    color: black;
}
.menubar1 img:hover{
    opacity: 0.8;
}
.menubar2 a
{
    font-size: 16px;
    padding: 5px;
}

.menubar2 .fa-bars
{
    font-size: 24px;
    padding: 5px;
}

.menubar2 a:hover
{
    background-color: whitesmoke;
}

.menubar1 #btn
{
    border-radius: 25px;
    width: 90px;
    padding: 10px;
    background-color: white;
}

.menubar1 #btn:hover
{
    box-shadow: 0px 5px;
    transform: translateY(-5px);
    background-color: whitesmoke;

}
.btn:hover
{
    background-color: whitesmoke;
}

/* ___________w3 school__________ */

.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  


/* __________________________website builder_____________________________ */

.paragraph1
{
    line-height: 1.2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
@media (max-width: 720px)
{
    .website_builder .paragraph1
    {
        font-size: 18px;
    }
}


.website_builder
{
    background-color: whitesmoke;
}

.website_builder button
{
    border-radius: 20px;
    background-color: yellow;
}
.website_builder button:hover
{
    box-shadow: 0px 5px;
    transform: translateY(-5px);
}

/* <!-- ____________________Brilliant web design, simplified_________________ --> */

.brilliant p
{
    font-size: 26px;
    line-height: 1.2;
}
@media (max-width: 720px)
{
    .brilliant p
    {
        font-size: 16px;
    }
}
/* __________________________Curate your look and feel_____________________________ */

.paragraph2
{
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}

.paragraph3
{
    font-size: 28px;
}

/* .curate_yourlook
{
    background-color: whitesmoke;
} */

.curate_yourlook button
{
    border-radius: 20px;
    background-color: white;
    width: 130px;
}
.curate_yourlook button:hover
{
    box-shadow: 0px 5px;
    transform: translateY(-5px);
}

/* __________________________Customize your new website layout_____________________________ */

.paragraph4
{
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    
}

.paragraph5
{
    font-size: 32px;
}

/* .curate_yourlook
{
    background-color: whitesmoke;
} */

.Customize_your_new_website button
{
    border-radius: 20px;
    background-color: white;
    /* width: 130px; */
}
.Customize_your_new_website button:hover
{
    box-shadow: 0px 5px;
    transform: translateY(-5px);
}

/* __________________________See your edits in real time_____________________________ */

.paragraph6
{
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    
}

.paragraph7
{
    font-size: 32px;
}

/* .curate_yourlook
{
    background-color: whitesmoke;
} */

.See_your_edits button
{
    border-radius: 20px;
    background-color: white;
    /* width: 130px; */
}
.See_your_edits button:hover
{
    box-shadow: 0px 5px;
    transform: translateY(-5px);
}

/* <!-- ____________________Promote_________________ --> */

.promote p
{
    font-size: 26px;
    line-height: 1.2;
}
@media (max-width: 720px)
{
    .promote p
    {
        font-size: 16px;
    }
}

.promote
{
    background-color: whitesmoke;
}

/* <!-- ____________________reach_more_________________ --> */

.reach_more p
{
    font-size: 26px;
    line-height: 1.2;
}
@media (max-width: 720px)
{
    .reach_more p
    {
        font-size: 16px;
    }
}

/* ______________anchor_tags_________________ */

.anchor_tags .line1 p a
{
    text-decoration: none;
    color: black;
    font-size: 24px;
}
.anchor_tags .line1 p a:hover
{
    text-decoration: underline;
}

.anchor_tags .line1 .para2
{
    text-decoration: none;
    color: black;
}
.anchor_tags .line1 .para2:hover
{
    text-decoration: underline;
    background-color: yellow;
}

.anchor_tags .line1 
{
    line-height: 0.5 !important;
}
.anchor_tags .line1 .para1
{
    line-height: 1.8;
}
.anchor_tags .line2 p a
{
    text-decoration: none;
    color: black;
    font-size: 24px;
}
.anchor_tags .line2 p a:hover
{
    text-decoration: underline;
}

.anchor_tags .line2 .para4
{
    text-decoration: none;
    color: black;
}
.anchor_tags .line2 .para4:hover
{
    text-decoration: underline;
    background-color: yellow;
}

.anchor_tags .line2
{
    line-height: 0.5 !important;
}
.anchor_tags .line2 .para3
{
    line-height: 1.8;
}

.anchor_tags .line3 p a
{
    text-decoration: none;
    color: black;
    font-size: 24px;
}
.anchor_tags .line3 p a:hover
{
    text-decoration: underline;
}

.anchor_tags .line3 .para6
{
    text-decoration: none;
    color: black;
}
.anchor_tags .line3 .para6:hover
{
    text-decoration: underline;
    background-color: yellow;
}

.anchor_tags .line3
{
    line-height: 0.5 !important;
}
.anchor_tags .line3 .para5
{
    line-height: 1.8;
}

/* ________________________hand_image_description_____________________________ */


.hand_image_description
{
    margin-top: -70px;
    background-color: whitesmoke;

}
@media (max-width: 720px)
{
    .hand_image_description
    {
        margin-top: -30px;
    }
}

/* <!-- ____________________brand_new_startup_________________ --> */

.brand_new_startup
{
    background-color: whitesmoke;

}

.brand_new_startup .para
{
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
}
@media (max-width: 720px)
{
    .brand_new_startup .para
    {
        font-size: 20px;
    }
}
.brand_new_startup .para01
{
    font-size: 18px;
    font-weight: 450;
}
@media (max-width: 720px)
{
    .brand_new_startup .para01
    {
        font-size: 13px;
        font-weight: 500;

    }
}


/* __________________________Decide_if_Mailchimp_____________________________ */

.Decide_if_Mailchimp .paragraph2
{
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}

.Decide_if_Mailchimp .paragraph3
{
    font-size: 28px;
}

/* .curate_yourlook
{
    background-color: whitesmoke;
} */

.Decide_if_Mailchimp button
{
    border-radius: 20px;
    background-color: white;
    width: 160px;
}
.Decide_if_Mailchimp button:hover
{
    box-shadow: 0px 5px;
    transform: translateY(-5px);
}

/* ___________________FAQS_______________________ */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  /* ____________ */

  .content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  /* _________________ */

  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }